.container {
  padding-top: 10px;
}

img {
    border-radius: 50%;
    padding: 5px;
    width: 100px;
}

.form-container,
.table-container 
{
  max-width: 700px;
  margin: 0 auto;
}

.web-container
{
    max-width: 90%;
    margin: 0 auto;
    border:thin solid #aaaaaa;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    background: white;
}

.header-container
{
    display: flex;
    max-width: 98%;
    margin: 0 auto;
    border:thin solid #aaaaaa;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    background: #bd24b8;
}

.header-container h6{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.centerHeader{
    position: relative;
    margin: 0 auto;
    display: block;
    top: 16px;
    right: 18%;
}

.rightHeader {
    position: relative;
    margin: 0 auto;
    display: block;
    top: 40px;
    left: 17%;
}

.content-container
{
    display: flex;
}

.category-container
{
    width: 15%;
    margin: 0 auto;
    border:thin solid #aaaaaa;
    padding: 20px;
    margin-left: 1%;
    border-radius: 3px;
    background: white;
}

.grid-container
{
    width: 83%;
    margin: 0 auto;
    border:thin solid #aaaaaa;
    padding: 20px;
    margin-right: 1%;
    border-radius: 3px;
    background: white;
}

.form-container
{
    border:thin solid #aaaaaa;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background: #f7f7f7;
}


.logout
{
    margin-bottom:30px;
}

/* link buttons */
.green-button,
.red-button,
.blue-button
{
  padding: 10px 13px;
  font-size: 1rem;
  line-height: normal;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin-right: 10px;
  position: relative;
  text-decoration: none;
  cursor:pointer;
}

.green-button
{
    background-color: #28a745;
}

.red-button
{
    background-color: #dc3545;
}

.blue-button
{
    background-color: #3545dc;
}

.green-button:hover,
.red-button:hover,
.blue-button:hover
{
    text-decoration: none;
    color:#fff;
}

.green-button:hover
{
    background-color: #107020; 
}

.red-button:hover
{
  background-color: #a01020; 
}

.blue-button:hover
{
  background-color: #1020a0; 
}
/* end of link buttons */

input 
{
color:pink;
margin-top: 5px;
padding: 10px;
}

input [type="button"] 
{
color:pink;
padding: 10px;
}






/* table of cars */
.table-container table
{
    width:100%;
    border-collapse:collapse;
}

.table-container thead
{
    background-color: #aaa;
    color:#fff;
    text-align: left;
    text-transform: capitalize;
}

.table-container tbody tr
{
    height:3em;
}

.table-container thead th,
.table-container tbody td
{
    padding:5px;
}
.table-container tbody tr:nth-child(odd) 
{
    background-color: #eee;
}

.table-container tbody tr:nth-child(even) 
{
    background-color: #ffa;
}

.add-new-car
{
    margin-top:1em;
}
/*end of table of cars */